*{
    padding: 0;
    margin: 0;
}

#main{
    padding: 0 !important;
    margin: 0 !important;
}

#header{
    padding: 0;
    margin: 0;
}

#contMenu {
    width: 100%;
    height: 75px;
    background-color: 	rgb(141, 48, 44);
    display: flex;
    align-items: center;
    padding: 0; 
}


.contLogo {
    padding: 0px 0px 0px 10px;
    margin: 0; 
    width: 60px;
    height: 55px;
}

#logo{
    height: 100%;
    width: 100%;
}


#contMenu nav {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
}

#contMenu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#contMenu nav ul li {
    position: relative;
    font-size: 25px;
}

#contMenu nav ul li a {
    display: block;
    padding: 10px 20px;
    color:#f5e1c6;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: color 0.3s ease;

}

#contMenu nav ul li:hover > a {
    color:#f8d09d ;
}

main{
    background-image: url(../assets/imagenes/fondo.png);
}


.contImg1{
    padding: 0;
    width: 100%;
    height: 450px;
}

#img1{
    width: 100%;
    height: 100%;
}

#contTitulo1{
    width: 500px;
    height: 220px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

#titulo1{
    font-size: 40px;
    margin: 5px;
    color:	#fff2e1 ;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#contTitulo2{
    width: 600px;
    height: 220px;
    position: absolute;
    bottom: -7%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#titulo2{
    font-size: 28px;
    margin: 5px;
    color:#fff2e1 ;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


.countdown {
    padding: 0;
    margin: 0;
    background-color: rgb(141, 48, 44); 
    padding: 10px 20px;
    width: 100%;
}

h1 {
    padding: 0px 0px 0px 35px;
    font-size: 35px; 
    color: #f5e1c6; 
    margin-bottom: 10px;
    font-family: 'Georgia', serif;
}

.time-container {
    display: flex;
    gap: 10px; 
}

.time-box {
    background-color: rgb(141, 48, 44);
    padding: 5px 10px; 
    border-radius: 5px;
    text-align: center;
}

h2 {
    padding: 0px 20px 0px 0px;
    font-size: 1.5rem; 
    color: #f5e1c6;
    font-family: 'Georgia', serif;
}

p {
    padding: 0px 20px 0px 0px;
    font-size: 1rem;
    color:#f5e1c6;
    font-family: 'Georgia', serif;
}


.contCarrusel {
    padding: 35px 0px 35px 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative; 
}

.carrusel {
    width: 46%;
    height: 100%;
    z-index: 1;
}

.carousel-inner img {
    transition: opacity 0.5s ease; 
}

.contCarrusel:hover .carousel-inner img {
    opacity: 0.3; 
}


.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center; 
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.contCarrusel:hover .overlay-text {
    opacity: 1; 
}

.contRecetas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contTit {
    background-color:rgb(141, 48, 44) ;
    text-align: center;
    margin-bottom: 20px;
}

.imagenes{
    padding: 30px 0px 50px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de ancho */
    grid-gap: 20px; /* Espacio entre las imágenes */
    width: 80%; /* Ajusta el ancho total del grid */
    justify-items: center; /* Centra las imágenes horizontalmente */
    margin: 0 auto; /* Centra el grid en la página */
}

.img {
    cursor: pointer; 
    width: 100%; /* Que cada imagen ocupe el 100% de la columna */
    height: auto;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: sombra para las imágenes */
    transition: transform 0.3s ease; /* Opcional: añade una transición suave */
}

.img:hover {
    transform: scale(1.05); /* Opcional: zoom suave al pasar el mouse */
}













footer {
    margin: 0;
    width: 100%;
    height: 200px;
    display: flex;
    background-color: rgb(141, 48, 44);
    color: white;
    padding: 20px;
}

.contFooter {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5e1c6;
}

footer ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 15px;
}

footer ul li a {
    color:#f5e1c6;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

.contContactos{
    align-self: top;
    justify-self: right;
    text-align: right;
    display: flex;
    flex-direction: column;
}

#titContactos{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  #f5e1c6;
    margin-top: 10px;
    font-size: 18px;
}


.contContactos a {
    color: #f5e1c6;
    text-decoration: none;
    font-size: 14px;
}

.contContactos a:hover {
    text-decoration: underline;
}



.contText {
    margin-top: auto; 
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

#text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px;
    color:#f5e1c6;
}


