*{
    padding: 0;
    margin: 0;
}

body{
    background-color:  #f5e1c6;
}

.snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 2em;
    user-select: none;
    z-index: 1000;
    animation: fall linear infinite;
    opacity: 0.9;
}

@keyframes fall {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh); }
}

.snowflake:nth-child(1) {
    left: 10%;
    animation-duration: 10s;
    animation-delay: 0s;
}

.snowflake:nth-child(2) {
    left: 20%;
    animation-duration: 12s;
    animation-delay: 2s;
}

.snowflake:nth-child(3) {
    left: 30%;
    animation-duration: 8s;
    animation-delay: 4s;
}

.snowflake:nth-child(4) {
    left: 40%;
    animation-duration: 10s;
    animation-delay: 6s;
}

.snowflake:nth-child(5) {
    left: 50%;
    animation-duration: 14s;
    animation-delay: 8s;
}

.snowflake:nth-child(6) {
    left: 60%;
    animation-duration: 12s;
    animation-delay: 10s;
}

.snowflake:nth-child(7) {
    left: 70%;
    animation-duration: 8s;
    animation-delay: 12s;
}

.snowflake:nth-child(8) {
    left: 80%;
    animation-duration: 10s;
    animation-delay: 14s;
}


#main{
    padding: 0 !important;
    margin: 0 !important;
}

#header{
    padding: 0;
    margin: 0;
}

.menu{
    background-color: #f5e1c6 !important;
}

.menuCosas{
    color:  rgb(141, 48, 44) !important;
    font-size: 30px;
    transition: color 0.3s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menuCosas:hover{
    color:   #3b5c2d !important;
}


.inicio{
    color:  rgb(141, 48, 44) !important;
    font-size: 17px;
    transition: color 0.3s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.inicio:hover {
    color:  #3b5c2d !important;
}

main{
    background-image: url(../assets/imagenes/fondo.png);
}


.contImg1 {
    padding: 0;
    width: 100%;
    height: 450px;
    position: relative;
}


#img1 {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


#contTitulo1 {
    width: 500px;
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translateX(-50%);
}


#titulo1 {
    font-size: 40px;
    margin: 5px;
    color: #fff2e1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Times New Roman', Times, serif;
}

#contTitulo2 {
    width: 600px;
    position: absolute;
    top: 75%; 
    left: 50%;
    transform: translateX(-50%);
}


#titulo2 {
    font-size: 28px;
    margin: 5px;
    color: #fff2e1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Courgette', cursive;
}

.countdown {
    padding: 0;
    margin: 0;
    background-color: rgb(141, 48, 44); 
    padding: 10px 20px;
    width: 100%;
}


h1 {
    padding: 0px 0px 0px 35px;
    font-size: 35px; 
    color: #f5e1c6; 
    margin-bottom: 10px;
    font-family: "Neucha";
}

.time-container {
    display: flex;
    gap: 10px; 
}

.time-box {
    background-color: rgb(141, 48, 44);
    padding: 5px 10px; 
    border-radius: 5px;
    text-align: center;
}

h2 {
    padding: 0px 20px 0px 0px;
    font-size: 1.5rem; 
    color: #f5e1c6;
    font-family: 'Georgia', serif;
}

p {
    padding: 0px 20px 0px 0px;
    font-size: 1rem;
    color:#f5e1c6;
    font-family: 'Georgia', serif;
}


.contBoton{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.boton{
    text-align: center;
    width: 25%;
    height: 100%;

}




@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

.contCarrusel{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
    transition: width 3s;
}
.contCarrusel {
    padding: 35px 0px 35px 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;

}

.carrusel {
    width: 46%;
    height: 100%;
}

.contBoton{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
    transition: width 3s;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

a{
    color: inherit;
    text-decoration: none;
}
.btn{
    width: 40%;
    height: 50px;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    color:  rgb(141, 48, 44);
    
}







.contRecetas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0px;
    margin: 0;
}

.contTit {

    background-color:rgb(141, 48, 44) ;
    text-align: center;
    margin-bottom: 20px;
}

.imagenes{
    padding: 30px 0px 50px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px; 
    width: 80%; 
    justify-items: center;
    margin: 0 auto; 
}

.img {
    cursor: pointer; 
    width: 100%; 
    height: auto;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.img:hover {
    transform: scale(1.05);
}


.contenedor{
    margin: 0px 0px 10px 0px;
    border: solid 4px rgb(141, 48, 44);
}

.contImg{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
    transition: width 3s;

    padding: 20px 0;
    width: 35%;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: right;
}

#img1{
    width: 100%;
    height: 100%;
}

.contTitulos{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
    transition: width 3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tit1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(141, 48, 44);
}

#tit2{
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(99, 99, 99);
}


.row {
    margin-right: 0;
    margin-left: 0;
}










footer {
    margin: 0;
    width: 100%;
    height: 200px;
    display: flex;
    background-color: rgb(141, 48, 44);
    color: white;
    padding: 20px;
}

.contFooter {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5e1c6;
}

footer ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 15px;
}

footer ul li a {
    color:#f5e1c6;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

.contContactos{
    align-self: top;
    justify-self: right;
    text-align: right;
    display: flex;
    flex-direction: column;
}

#titContactos{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  #f5e1c6;
    margin-top: 10px;
    font-size: 18px;
}


.contContactos a {
    color: #f5e1c6;
    text-decoration: none;
    font-size: 14px;
}

.contContactos a:hover {
    text-decoration: underline;
}



.contText {
    margin-top: auto; 
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

#text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px;
    color:#f5e1c6;
}

