*{
    padding: 0;
    margin: 0;
}

body{
    background-color: 		rgb(203, 170, 151);
}


#contMenu {
    width: 100%;
    height: 75px;
    background-color: 	rgb(145, 95, 80);
    display: flex;
    align-items: center;
    padding: 0; 
}


.contLogo {
    padding: 0px 0px 0px 10px;
    margin: 0; 
    width: 70px;
    height: 75px;
}

#logo{
    height: 100%;
    width: 100%;
}


#contMenu nav {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
}

#contMenu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#contMenu nav ul li {
    position: relative;
    font-size: 25px;
}

#contMenu nav ul li a {
    display: block;
    padding: 10px 20px;
    color: rgb(232, 210, 197);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: color 0.3s ease;

}

#contMenu nav ul li:hover > a {
    color: rgb(203, 170, 151) ;
}

#contMenu nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: 	rgb(145, 95, 80);
    padding: 0;
    list-style: none;
    width: 150px;
}

#contMenu nav ul ul li {
    display: block;
    font-size: 20px;
}

#contMenu nav ul ul li a {
    padding: 10px;
    white-space: nowrap;
}

#contMenu nav ul li:hover ul {
    display: block;
}

.contCarrusel{
    padding: 10px 0px 25px 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.carousel{
    width: 46%;
    height: 100%;
    z-index: 1;
}

.contFotos{
    width: 100%;
    height: 100px;
    display: flex;

    align-items: center;
    justify-content: center;
}

.img{
    width: 35%;
    height: 30%;

}

footer {
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 90px;
    background-color: rgb(145, 95, 80);
    color: white;
    padding: 20px;
}

.contFooter {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

footer ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 15px;
}

footer ul li a {
    color:rgb(232, 210, 197);
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

.contContactos{
    align-self: top;
    justify-self: right;
    text-align: right;
    display: flex;
    flex-direction: column;
}

#titContactos{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  rgb(232, 210, 197);
    margin-top: 10px;
    font-size: 18px;
}


.contContactos a {
    color: rgb(232, 210, 197);
    text-decoration: none;
    font-size: 14px;
}

.contContactos a:hover {
    text-decoration: underline;
}



.contText {
    margin-top: auto; 
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

#text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px;
    color: rgb(232, 210, 197);
}

.row {
    margin-right: 0;
    margin-left: 0;
}


